/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global Styles */
* {
    font-family: Poppins, Playfair;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styling */
header {
    display: grid;
    user-select: none;
    text-align: center;
}

.header {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1em;
}

.showcase {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

.logo-container {
    position: relative;
}

.logo {
    margin: 0.5em;
    float: left;
    width: 15vw;
    border-radius: 30%;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

.logo:hover {
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
}

.navbar {
    display: block;
    background-color: rgba(245, 241, 229, 255);
}

.pages a {
    font-size: 18px;
    font-weight: 500;
    color: black;
    position: absolute;
    text-decoration: none;
    border: 0;
    margin-top: 1em;
    padding: 1em;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.active {
  color: #6D4803 !important;
  font-weight: 800 !important;
}

.pages a:hover {
    font-size: 1.3em;
    transition: 0.3s;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
    background-color: antiquewhite;
}

/* Index Page */

.slogan {
    text-align: center;
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.dinning-text {
    margin-right: 20px;
    display: block;
    padding: 1em;
    text-align: center;
}
.dinning-container {
    display: grid;
    justify-content: center;
}
.dinning-wrapper {
    display: flex;
}
.dinning {
    border-radius: 15px;
    justify-items: center;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
    width: 40vw;
    margin: 0.8em;
}
/* About Page */

.story-wrapper {
    background-image: url(../../assets/images/background/pexels-tim-mossholder-2331884.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.story-container {
    padding: 10%;
    display: block;
    text-align: center;
    
}

.story {
    margin: 1%;
    padding: 3%;
    display: block;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(245, 241, 229, 255);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
}

/* Contact Page */
.form-container {
    background-image: url(../../assets/images/background/pexels-lisa-fotios-918328.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

.map > iframe {
    padding: 1%;
    background-color: rgba(245, 241, 229, 255);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

.contact-section {
    display: grid;
    padding: 1.8em;
}

.contact-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

.contact-input {
    padding: 1em;
    margin: 0.5em;
    border: 1px solid rgba(245, 241, 229, 255);
    outline: none;
    background-color: rgba(245, 241, 229, 255);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    border-radius: 15px;
}

textarea.contact-text {
    height: 16vh;
    width: 100%;
}

.contact-btn {
    display: flex;
    justify-content: center;
    border: 0;
    margin-top: 1em;
    padding: 0.5em;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    background-color: rgba(245, 241, 229, 255);
}

.contact-btn:hover {
    box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.4);
    background-color: antiquewhite;
}

/* Menu Page */
.menu-container {
    background-image: url(../../assets/images/background/pexels-pixabay-277253.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
}
.menu {
    border-radius: 15px;
    background-color: rgba(245, 241, 229, 255);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.4);
    margin: 2.8em;
    padding: 3%;
}
/* Footer Styling */

footer {
    box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.4);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    color: black;
    background-color: rgba(245, 241, 229, 255);
    align-items: center;
}

address {
    display: block;
}

.socials a {
    text-decoration: none;
}

ul {
    padding: 0;
    font-size: 2em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

li {
    display: inline-block;
}

.icon {
    color: black;
}

.icon:hover {
    transition: 1.5s;
    transform: scale(1.2);
}

@media only screen and (max-width: 768px) {
    .header {
        grid-template-columns: repeat(2, 1fr);
        padding: 0.5em;
    }

    .navbar {
        display: flex;
        justify-content: center;
    }

    .pages a {
        position: relative;
        margin: 1em;
    }

    .logo {
        float: none;
        margin: auto;
        min-width: 15vw;
        height: auto;
    }

    .story-container {
        padding: 5%;
    }

    .contact-section {
        padding: 1em;
    }

    .form-container {
        padding: 1rem;
        grid-template-columns: 1fr;
    }

    .map > iframe {
        height: 300px;
    }

    .gallery {
        padding-top: 2em;
    }

    .img {
        width: 100%;
        height: auto;
    }

    footer {
        grid-template-columns: 1fr;
        padding: 1em;
    }

    .socials {
        margin-bottom: 1em;
    }
}